* {
  box-sizing: border-box;
}


   .layout{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

    .card_flex{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }