{% extends "learning_logs/base.html"%} {% block content %} {% if specifics%}
{%for val in topics %}
<div class="card" style="max-width: 90vw">
  <div class="card-body" href="#">
    <a href="/get_article/?id={{val.id}}"
      ><h5 class="card-title">{{ val.name }}</h5></a
    >
    <p class="card-text">{{ val.article_name.name }}</p>
    <small>{{val.date_added}}</small>
  </div>
</div>

{% endfor %} {% else %}

<section class="cat">
  {% for val in categories %}

  <b><a href="/get_specifics/?category={{val.name}}">{{val}}</a></b>

  {% endfor %}
</section>

{% endif %} {% endblock %}
