{% extends "learning_logs/base.html"%}


{% block content %}

{% if disp %}
<section>
    {% for topic in topics %}
    <p>{{topic.article_name}}</p>
    {% for val in topic.entry_set.all %}
        <p>{{val.text}}</p>
     {% endfor %}
    <p>{{topic.date_added}}</p>
    {% endfor %}
</section>

{% else %}


<div class="card_flex">
<section>

{% for val in categories %}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." >
  <b><a href="{% url 'learning_logs:topics' val.name %}">{{val}}</a></b>
        <div class="card-body">

    <p class="card-text">{{val.get_descrip}}</p>
  </div>
</div>
{% endfor %}
</section>
    </div>

{% endif %}
{% endblock %}