{% extends "form_strt/base.html" %}


{% block content %}
  <body>
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">A</th>
            <th scope="col"> <a href="{% url 'form_strt:create' %}"
              ><button class="btn">CREATE</button></a
            >
          </td></th>
            <th scope="col">C</th>
            <th scope="col">D</th>
          </tr>
        </thead>
        <tbody>
          <h1 class=" display-3">Main Page</h1>
          {% if data %}
          {% for val in data %}
          <tr>
            <th scope="row">{{val.id}}</th>
            
           
            <td>{{ val.name }}</td>
            
            <td>
             
            <td>
              <a href="{% url 'form_strt:update' val.id %}"
                ><button class="btn">UPDATE</button></a
              >
            </td>

            <td>
              <a href="{% url 'form_strt:delete_' val.id %}"
                ><button class="btn">DELETE</button></a
              >
            </td>
          </tr>
          {% endfor %}
            {% endif %}
        </tbody>
      </table>
    </div>
  </body>
</html>
{% endblock %}